/* ESTILOS DE HTML */
html {
  height: 100%;
  background-image: url("./pat_back.png");
  padding: 0px;
  background-size: auto;
  background-repeat: repeat;
}

body {
  font-family: 'Georama', sans-serif;
}

input {
  font-size: 1rem;
  font-family: 'Georama', sans-serif;
  margin: 10px;
}

textarea {
  font-size: clamp(0.8rem,1rem,1.8rem);
  font-family: 'Georama', sans-serif;
  width: 300px;
  
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: rgb(145, 0, 48);
}

h2 {
  background-color: white;
  text-align: center;
}

h1 {
  background-color: white;
  width: fit-content;
  padding: 10px;
}

p {
  width: fit-content;
  padding: 10px;
  background-color: white;
}

                                            /* HEADER */
.Header{
  position: sticky;
  display: fixed;
  top: 0;
  background-color: rgb(255, 255, 255);
  opacity: 100%;
  padding: 10px;
  text-align: center;
  align-content: center;
}

.HeaderBtn {
  display: inline-block;
  margin-right: 20px;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  background-color: rgb(173, 0, 0);
  border-radius: 10px;
  text-align: center;
}

.HeaderBtn:hover{
  display: inline-block;
  margin-right: 20px;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  text-align: center;
}

                                      /* TASK MANAGER */

.InputMateria{
  font-size: 1rem;
  width: 200px;
}

.Formulario {
  font-family: 'Georama', sans-serif;
  text-align: center;
}

.TextoTarea {
  background-color: white;
  width: fit-content;
  margin-bottom: 10px;
  margin-right: 10px;
}