/*Estilo del cuerpo */
body{
    background-color: black;
    background-image: url(../img/nightback.jpg);
    background-repeat: repeat;
}

h1{
    color: whitesmoke;
    text-shadow: 2px 2px 10px purple;
}
h2{
    color: whitesmoke;
    text-shadow: 1px 1px 5px whitesmoke;
}
a:hover{
    color: turquoise;
}
a:visited{
    color: turquoise;
}

p {
    color: white;
    border-style: solid;
    border-color: whitesmoke;
    margin: 15px;
    padding: 10px;
    text-align: justify;
}
#imagen{
    height: 50%;
    width: 50%;
}